/*

  BEM,
  Mobile first

*/

@font-face {
  font-family: 'Garet-Book';
  src: url('/fonts/Garet-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// small screens, light theme

html {
  font-family: Garet-Book;
  scroll-behavior: smooth;

  &,
  main,
  header {
    color: theme('colors.gray.900');
    background-color: theme('colors.gray.100');
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 50;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 20;
  background-color: inherit;

  &#hero {
    position: sticky;
    inset: 0px;
    z-index: 10;
    color: theme('colors.gray.900');
  }

  &>.section-wrapper {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
  }
}

.navbar {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    flex-direction: row;
  }

  &__menus {
    flex-direction: column;
  }

  &__menus ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  & .btn-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: auto;
    padding: .25rem .5rem;
    font-weight: 900;
  }
}


.btn-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}


.img {
  border-radius: .5rem;
}


.vertical-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &>h2 {
    margin-bottom: .25rem;
  }
}


.fancy-btn {
  position: relative;
  font-weight: 900;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-color: theme('colors.gray.300');
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  &::before {
    bottom: -0.5rem;
    right: -0.5rem;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-bottom-right-radius: 0.25rem;
  }

  &::after {
    top: -0.5rem;
    left: -0.5rem;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 0.25rem;
  }

  &:hover {
    color: theme('colors.blue.500');

    &::before,
    &::after {
      border-radius: 0.25rem;
      border-color: theme('colors.blue.500');
      height: calc(100% + 16px);
      width: calc(100% + 16px);
    }
  }
}

// dark theme

html.dark {

  &,
  main,
  header {
    color: theme('colors.gray.100');
    background-color: theme('colors.gray.900');
  }

  .fancy-btn {

    &::before,
    &::after {
      border-color: theme('colors.gray.800');
    }
  }
}

// large screen

@media (min-width: 1024px) {

  section {
    padding-top: 4rem;

    &>.section-wrapper {
      flex-direction: row;
      justify-items: center;
      justify-content: center;
    }

    &>.section-wrapper>* {
      min-width: 33%;
      max-width: 50%;
    }
  }

  .navbar {
    flex-direction: row;


    & .btn-menu {
      display: none;
    }

    &__menus {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
    }

    &__menus ul {
      flex-direction: row;
      margin: 0;
      margin-left: auto;

      &:first-child {
        gap: 2rem;
      }
    }

    &__menus ul li {
      display: flex;
      align-items: center;
    }
  }

  .margin-even > :nth-child(2n+1) {
    margin-left: 2rem;
  }

  .margin-even > :nth-child(2n) {
    margin-right: 2rem;
  }
}